body{
    background-color:rgba(107,183,218,0.548);
    padding: 150px;
}
.container{
    height: 130px;
    width:300px;
    border:2px groove rgba(118, 239, 248, 0.968);
    border-radius: 35px;
    box-shadow: rgb(0,0,0,0.2)0px 10px 20px rgba(0,0,0,0.23)0px 6px 8px;
}
h1{
    font-style: italic;
    color: rgb(8,91,100);

}
#clock{
    font-size: 30px;
    font-style: sans-serif;
}